.local_tg{
    background-color: var(--light-grey-1);
    
}


.local__toggle__container {
    background-color: var(--light-grey-1);
    display: block;
    position: relative;
    bottom: 85px;    
    right: 20px; 
    // height: 12vh;
    // width: 10vw;
    // max-width: 60%;

    @media(min-width: 768px){
        display: none;
    }
      
}




.expandable-search__btn {
    color: black;
    position: absolute;
    right: 12px;
    
}
.expandable-search__btn-icon {
    color: black;
    position: absolute;
    top: 8px;
    border: 1px solid var(--brand-color);
    border-radius: 24px;
}

.expandable-search__form {
    position: absolute;
    top: 8px;
    right: 12px;
    display: flex;
    margin: 0 auto;
    z-index: 2;
}

.expandable-search__input {
        font-size: 1.5rem;
        line-height: 1.2;
        background-color: transparent;
        width: 80%;
        color: var(--dark-grey-2);
        display: block;
        padding: calc(1.5rem/2) 0;
        border: 0 none;
        border: 2px solid var(--brand-color);
        -webkit-appearance: none;
        appearance: none;
        -moz-appearance: textfield;
        min-width: 250px;
    
}

.expandable-search__submit {
    font-family: "quicksand";
    font-size: var(--font-size-plus-1);
    background-color: transparent;
}


.expandable-search__label {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
    border:0;
    font-family: "quicksand";
    font-size: var(--font-size-plus-1);
}


.local__toggle__container .expandable-search{
    display: none;
}

.is--active .expandable-search{
    display: block;
}

.modal-search .is--active{
    display: block;
    position: fixed;
    right: 0;

    @media(min-width: 768px){
        display: none;
    }
}





.modal-search__btn {
    background-color: transparent;
    padding-right: 24px;
    display: block;
    font-family: "quicksand";
    border: 2px solid var(--brand-color);
    border-radius: 24px;

    // @media(min-width: 768px){
    //     display: none;
    // }
}

.modal-search__btn-icon{
    // position: fixed;
}