.nav-container-elements{
    display: flex;
    align-items: center;
}

.primary-nav__container{
    display: flex;
    justify-content: center;
}


.nav-primary{
    display: none;
    margin-left: auto;

    @media(min-width:768px){
        display: block;
    }
}

.nav-primary__list{
    display: flex;
}

.nav-primary__item{
    padding: calc(var(--baseline));
}

.nav-primary__item a:active {
    text-decoration: underline;
    cursor: pointer;
}

.nav-primary__link {
        font-size: var(--font-size-plus-3);
        font-family: "quicksand";
        color:var(--brand-font);
        font-weight:var(--bold-weight);
        text-decoration:none;
        position:relative;
        &:hover{
            text-underline-offset: 12px;
            color:var(--dark-grey-2);
            text-decoration: underline;
            text-decoration-color: var(--brand-color);
            text-decoration-thickness: 3px;
            
        }
        &.is--active{
            font-weight:var(--regular-weight);
            &:hover{
                color:var(--brand-color);  
            }
            // &:after{
            //     content:'';
            //     display:block;
            //     background-color:var(--off-black);
            //     height:1px;
            //     width:100%;
            //     position: absolute;
            //     bottom:-1px;            
            // }
    
        }
    }


.off-canvas-nav__btn{
    font-family: "quicksand";
    font-size: var(--font-size-plus-3);
    font-weight: 600;
    color: var(--brand-font);
    padding: calc(var(--baseline));
   background-color: var(--light-grey-1);
}

.on--off-canvas-nav .off-canvas-nav__container {
    display: block;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: none;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 0;
    margin-right: 0;
    // margin-left: var(--baseline);
    z-index: 1;
    overflow: auto;
}

.off-canvas-nav__container{
    display: none;
    
}

.on--off-canvas-nav .nav-primary {
    display: none;
}

.on--off-canvas-nav .header-left {
    display: none;
}

.on--off-canvas-nav{
    // position: fixed;
    // top: auto;
    // left: 240px;
}

.on--off-canvas-nav .off-canvas-nav__btn {
    display: none;
}
.on--off-canvas-nav .table__container {
    display: none;
}


.off-canvas__item{
    padding: calc(var(--baseline)/2);
    text-align: right;
    
}

.off-canvas__item:nth-child(1){
    border-bottom: 1px solid white;
    
}

.off-canvas__item:nth-child(11){
    border-top: 1px solid white; 
}

.off-canvas__link{
    font-size: var(--font-size-plus-3);
    font-family: "quicksand";
    color:var(--brand-font);
    font-weight:600;
    text-decoration:none;
    position:relative;
    &:hover{
        color:var(--dark-grey-2);
    }

    &.is--active{
        font-weight:var(--regular-weight);
        &:hover{
            color:var(--off-black);
        }
        &:after{
            content:'';
            display:block;
            background-color:var(--off-black);
            height:1px;
            width:100%;
            position: absolute;
            bottom:-1px;            
        }

    }
}

.off-canvas__link.profile{
    // border-bottom: 1px solid white;
}

.off-canvas__list {
        position: absolute;
        right:0;
        height: 100vh;
        max-width:500px;
        background-color: var(--brand-color);
        padding: calc(var(--baseline));
        color: rgba(27, 35, 43, 0.80);
        border-radius: 24px;
        

        @media(min-width: 768px){
            width: 40%;
            overflow-y: scroll;
        }
}
